{% extends "m/m_base_new.html" %}
{% load i18n %}
{% block title %}{% trans "Smart-Heat-OS - Temperatur&uuml;berwachung" %}{% endblock %}
{% block bodyclass %}page heizflaechenoptimierung{% endblock %}
{% block mheader %}
    <span><a href="http://support.controme.com/aussentemperaturkorrektur/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25"></a></span>
    <span><a href="/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#mitt-zeit-active-atk").click(function(){
            if(this.checked) {
                $('#time-startmz').slider( "option", "disabled", false );
                $('#time-endmz').slider( "option", "disabled", false );
            } else {
                $('#time-startmz').slider( "option", "disabled", true );
                $('#time-endmz').slider( "option", "disabled", true );
            }
        });

        $("#heizflach-checkbox").click(function(){
            if(this.checked) {
                $('#heating-element-start_g').slider( "option", "disabled", false );
                $('#heating-element-end_g').slider( "option", "disabled", false );
            } else {
                $('#heating-element-start_g').slider( "option", "disabled", true );
                $('#heating-element-end_g').slider( "option", "disabled", true );
            }
        });

        $("#heating_element_end_1_checkbox").click(function(){
            if(this.checked) {
                $('#heating_element_end_1').slider( "option", "disabled", false );
            } else {
                $('#heating_element_end_1').slider( "option", "disabled", true );
            }
        });

        $("#heating_element_end_2_checkbox").click(function(){
            if(this.checked) {
                $('#heating_element_end_2').slider( "option", "disabled", false );
            } else {
                $('#heating_element_end_2').slider( "option", "disabled", true );
            }
        });

        $(".heizflaechenoptimierung #select-type").change(function(){
            $(".heizflaechenoptimierung #one .slider-wrapper").addClass('hide');
            $(".heizflaechenoptimierung #one div[data-type='"+$(this).val()+"']").parent().removeClass('hide');
        });

        $(".heizflaechenoptimierung #one .ui-slider-input").on('slidestop',function(){

                var id = $(this).data('id'),
                number =  $(this).val(),
                name =  $(this).attr('name');

            $.ajax({
                url: '/m_aussentemperaturkorrektur/{{ haus.id }}/',
                data: {
                    'number' : number ,
                    'id'     : id ,
                    'name'   : name,
                    'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val(),
                    'singleroom': true
                },
                type: 'post',
                async: true,
                beforeSend: function() {
                    if(typeof startAjaxSlider === "function"){startAjaxSlider();}
                },
                complete: function() {
                    if(typeof endAjaxSlider === "function"){endAjaxSlider();}
                }
            });
        });
    });
</script>
<style type="text/css">
{#input.ui-slider-input{#}
{#    margin: 0;#}
{# }#}
.p-label {
    margin-bottom: 0
}
#two .p-label {
    margin-bottom: 0;
    padding: 0 15px;
}
{#.correction-heating-element-wrapper .label-after {#}
{#    margin-right: 2em;#}
{# }#}
</style>

<div data-role="tabs" id="tabs">
    <div data-role="navbar">
        <ul>
            <li><a href="#one" class="ui-btn-active" data-ajax="false">{% trans "Einstellungen" %}</a></li>
            <li><a href="#two" data-ajax="false">{% trans "Gruppeneinstellung" %}</a></li>
        </ul>
    </div>
    <div id="one" class="ui-body-d ui-content ui-alt-icon">
        <select name="select-type" id="select-type">
            <option value="time">{% trans "Mittelwert-Zeitraum-Außentemperatur" %}</option>
            <option value="heating-element">{% trans "Korrekturkennlinie" %}</option>
        </select>
        {% for e in eundr %}
            {% for etage, raeume in e.items %}
            <h2>{{ etage.name }}</h2>
            {% for raum, atkparams in raeume %}
                <p class="p-label"><img src="/static/icons/{{ raum.icon }}.png">{{ raum.name }}</p>

                <div class="slider-wrapper custom_slider range_slider">
                    <div data-role="rangeslider" data-id="{{ raum.id }}" data-type="time" data-mini="true" data-highlight="true" data-popup-enabled="true">
                        <label for="time-start" data-type="time">Mittelwert-Zeitraum Außentemperatur</label>
                        <input data-popup-enabled="true" data-id="{{ raum.id }}" type="range" name="time-start"
                               id="time-start" min="0" max="96" value="{{ atkparams.start_time }}" step="1"/>

                        <label for="time-end" data-type="time">Mittelwert-Zeitraum Außentemperatur</label>
                        <input data-popup-enabled="true" data-id="{{ raum.id }}" type="range" name="time-end" id="time-end"
                               min="0" max="72" value="{{ atkparams.end_time }}" step="1"/>
                    </div>
                    <div class="label-before">von</div>
                    <div class="label-after">bis</div>
                </div>

                <div class="slider-wrapper hide custom_slider">
                    <div data-id="{{ raum.id }}" data-type="heating-element" data-mini="true" data-highlight="true" data-popup-enabled="true">
                        <div id="correction-heating-element-wrapper">
                            <label for="heating-element-end_1" data-type="heating-element">Korrekturkennlinie</label>
                            <input data-popup-enabled="true" type="range" data-id="{{ raum.id }}" name="heating-element-end_1"
                                    id="heating-element-end_1" data-mini="true" data-highlight="true" step="0.1" min="-10" max="10"
                                    value="{{ atkparams.heating_element_end_1 }}"/>
                            <div class="label-after">bei +20° AT</div>
                        </div>
                        <br/>
                        <div id="correction-heating-element-wrapper">
                            <label for="heating-element-end_2">Korrekturkennlinie</label>
                            <input data-popup-enabled="true" data-id="{{ raum.id }}" type="range" name="heating-element-end_2"
                                   id="heating-element-end_2" data-mini="true" data-highlight="true" step="0.1" min="-10" max="10"
                                   value="{{ atkparams.heating_element_end_2 }}"/>
                            <div class="label-after">bei -20° AT</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <p/>
            {% endfor %}
        {% endfor %}
        <h2>{% if diff_params%}Differenzregelug{%endif%}</h2>
        {% for d_reg_id, objid, reg_params, atk_params in diff_params %}
            <p class="p-label"><img src="/static/heating-icons/icon_{{ reg_params.icon }}.png">{{ reg_params.name }}</p>

                <div class="slider-wrapper custom_slider range_slider">
                    <div data-role="rangeslider" data-id="{{ d_reg_id }}" data-type="time" data-mini="true" data-highlight="true" data-popup-enabled="true">
                        <label for="reg-time-start" data-type="time">Mittelwert-Zeitraum Außentemperatur</label>
                        <input data-popup-enabled="true" data-id="{{ d_reg_id }}" type="range"  name="reg-time-start"
                               id="reg-time-start" min="0" max="96" value="{{ atk_params.start_time }}" step="1"/>

                        <label for="reg-time-end" data-type="time">Mittelwert-Zeitraum Außentemperatur</label>
                        <input data-popup-enabled="true" data-id="{{ d_reg_id }}" type="range"  name="reg-time-end"
                               id="reg-time-end" min="0" max="72" value="{{ atk_params.end_time }}" step="1"/>
                    </div>
                    <div class="label-before">von</div>
                    <div class="label-after">bis</div>
                </div>

                <div class="slider-wrapper hide custom_slider">
                    <div data-id="{{ d_reg_id }}" data-type="heating-element" data-mini="true" data-highlight="true" data-popup-enabled="true">
                        <div id="correction-heating-element-wrapper">
                            <label for="reg-heating-element-end_1" data-type="heating-element">Korrekturkennlinie</label>
                            <input data-popup-enabled="true" type="range" data-id="{{ d_reg_id }}" name="reg-heating-element-end_1"
                                    id="reg-heating-element-end_1" data-mini="true" data-highlight="true" step="0.1" min="-10" max="10"
                                    value="{{ atk_params.heating_element_end_1 }}"/>
                            <div class="label-after">bei +20° AT</div>
                        </div>
                        <br/>
                        <div id="correction-heating-element-wrapper">
                            <label for="heating-element-end_2">Korrekturkennlinie</label>
                            <input data-popup-enabled="true" data-id="{{ d_reg_id }}" type="range" name="reg-heating-element-end_2"
                                   id="reg-heating-element-end_2" data-mini="true" data-highlight="true" step="0.1" min="-10" max="10"
                                   value="{{ atk_params.heating_element_end_2 }}"/>
                            <div class="label-after">bei -20° AT</div>
                        </div>
                    </div>
                </div>
        {% endfor %}
        <p/>
        <h2>{% if vor_params%}Vorlauftemperaturregelung{%endif%}</h2>
        {% for d_reg_id, objid, reg_params, atk_params  in vor_params %}
            <p class="p-label"><img src="/static/heating-icons/icon_{{ reg_params.icon }}.png">{{ reg_params.name }}</p>

                <div class="slider-wrapper custom_slider range_slider">
                    <div data-role="rangeslider" data-id="{{ d_reg_id}}" data-type="time" data-mini="true" data-highlight="true" data-popup-enabled="true">
                        <label for="vor-time-start" data-type="time">Mittelwert-Zeitraum Außentemperatur</label>
                        <input data-popup-enabled="true" data-id="{{ d_reg_id }}" type="range" name="reg-time-start"
                               id="vor-time-start" min="0" max="96" value="{{ atk_params.start_time }}" step="1"/>

                        <label for="vor-time-end" data-type="time">Mittelwert-Zeitraum Außentemperatur</label>
                        <input data-popup-enabled="true" data-id="{{ d_reg_id }}" type="range"  name="reg-time-end" id="vor-time-end"
                               min="0" max="72" value="{{ atk_params.end_time}}" step="1"/>
                    </div>
                    <div class="label-before">von</div>
                    <div class="label-after">bis</div>
                </div>

                <div class="slider-wrapper hide custom_slider">
                    <div data-id="{{ d_reg_id }}" data-type="heating-element" data-mini="true" data-highlight="true" data-popup-enabled="true">
                        <div id="correction-heating-element-wrapper">
                            <label for="vor-heating-element-end_1" data-type="heating-element">Korrekturkennlinie</label>
                            <input data-popup-enabled="true" type="range" data-id="{{ d_reg_id }}"  name="reg-heating-element-end_1"
                                    id="vor-heating-element-end_1" data-mini="true" data-highlight="true" step="0.1" min="-10" max="10"
                                    value="{{ atk_params.heating_element_end_1 }}"/>
                            <div class="label-after">bei +20° AT</div>
                        </div>
                        <br/>
                        <div id="correction-heating-element-wrapper">
                            <label for="vor-heating-element-end_2">Korrekturkennlinie</label>
                            <input data-popup-enabled="true" data-id="{{ d_reg_id }}" type="range"  name="reg-heating-element-end_2"
                                   id="vor-heating-element-end_2" data-mini="true" data-highlight="true" step="0.1" min="-10" max="10"
                                   value="{{ atk_params.heating_element_end_2 }}"/>
                            <div class="label-after">bei -20° AT</div>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
    <div id="two">
        <form action="/m_aussentemperaturkorrektur/{{ haus.id }}/" method="post" data-ajax="false">{% csrf_token %}

            <div class="ui-grid-a ui-alt-icon">

                <p class="p-label">{% trans "Über die Gruppeneinstellung können Sie mehrere Räume gleichzeitig setzen, auswählen und übernehmen." %}</p>

                <div id="rangeslider-list">
                    <div id="correction-heating-element-wrapper" class="correction-heating-element-wrapper slider-wrapper range_slider custom_slider">
                        <div data-role="rangeslider" data-mini="true" data-highlight="true" data-popup-enabled="true">
                            <label for="time-startmz" >{% trans "Mittelwert-Zeitraum-Außentemperatur" %}</label>
                            <input data-popup-enabled="true" type="range"
                                   name="time-start" id="time-startmz" min="0" max="96" value="0" step="1"/>

                            <label for="time-endmz">{% trans "Mittelwert-Zeitraum-Außentemperatur" %}</label>
                            <input data-popup-enabled="true" type="range"
                                   name="time-end" id="time-endmz" min="0" max="72" value="1" step="1"/>

                        </div>
                        <input type="checkbox" checked name="mitt-zeit-active-atk" id="mitt-zeit-active-atk"/>
                        <div class="label-before align-center">{% trans "von" %}</div>
                        <div class="label-after">{% trans "bis" %}</div>

                    </div>
                </div>

                <div class="custom_slider slider-wrapper correction-heating-element-wrapper normal_slider">
                    <div id="correction-heating-element-wrapper" class="correction-heating-element-wrapper">
                        <label for="heating-element-end_1">{% trans "Korrekturkennlinie" %}</label>
                        <input data-popup-enabled="true" type="range"
                            name="heating-element-end_1" id="heating_element_end_1" data-mini="true"
                            data-highlight="true" step="0.1" min="-10" max="10" value="0"/>
                        <input type="checkbox" checked name="heating_element_end_1_checkbox" id="heating_element_end_1_checkbox"/>
                        <div id="" class="label-after">{% trans "bei +20 AT" %}</div>
                    </div>

                    <br/>

                    <div id="correction-heating-element-wrapper" class="correction-heating-element-wrapper normal_slider">
                        <input data-popup-enabled="true" type="range"
                            name="heating-element-end_2" id="heating_element_end_2" data-mini="true"
                            data-highlight="true" step="0.1" min="-10" max="10" value="0"/>
                        <input type="checkbox" checked name="heating_element_end_2_checkbox" id="heating_element_end_2_checkbox"/>
                        <div id="" class="label-after">{% trans "bei -20 AT" %}</div>
                    </div>

                </div>
            </div>
            <div class="jahreskalender">
                <div class="ui-grid-a select-room">
            <fieldset data-role="controlgroup" data-iconpos="right">

                <input type="checkbox" name="select-all" value="select-all" id="select-all" class="select-all"/>
                <label id="select-all-label" for="select-all" data-corners="false" class="bold" style="margin: 0; border-bottom-width: 1px;">alle Räume auswählen</label>
                {% for e in eundr %}
                    {% for etage, raeume in e.items %}
                        {% for r, atkparams in raeume %}

                            <input type="checkbox" name="rooms" value="{{ r.id }}" class="room" data-house="{{ etage.id }}" style="border-bottom-width: 1px;" id="room-{{ r.id }}"/>
                            <label for="room-{{ r.id }}" style="border-bottom-width: 1px;" class="line-border"><img src="/static/icons/{{ r.icon }}.png"/>{{etage.name}} | {{ r.name }}</label>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
                <input type="checkbox" name="select-all-diff" value="select-all" id="select-all-diff" class="select-all-diff"/>
                <label id="select-all-label-diff" for="select-all-diff" data-corners="false" class="bold" style="margin: 0; border-bottom-width: 1px;">alle Differenzregelungs auswählen</label>
                {% for d_reg_id, objid, reg_params, atk_params in diff_params %}
                    <input type="checkbox" name="regs" value="{{ d_reg_id }}" data-house="{{ dregid }}" id="diff-{{ d_reg_id }}" class="diff"/>
                            <label for="diff-{{ d_reg_id }}" class="line-border">
                                {% if reg_params.icon %}<img src="/static/heating-icons/icon_{{ reg_params.icon }}.png"/> {% endif %}
                                {{ reg_params.name }}
                            </label>
                {% endfor %}
                <input type="checkbox" name="select-all-vor" value="select-all" id="select-all-vor" class="select-all-vor"/>
                <label id="select-all-label-vor" for="select-all-vor" data-corners="false" class="bold" style="margin: 0; border-bottom-width: 1px;">alle Vorlauftemperaturregelung auswählen</label>
                {% for d_reg_id, objid, reg_params, atk_params in vor_params %}
                    <input type="checkbox" name="regs" value="{{ d_reg_id }}" data-house="{{ d_reg_id }}" id="vor-{{ d_reg_id }}" class="vor"/>
                            <label for="vor-{{ d_reg_id }}" class="line-border">
                                {% if reg_params.icon %}<img src="/static/heating-icons/icon_{{ reg_params.icon }}.png"/> {% endif %}
                                {{ reg_params.name }}
                            </label>
                {% endfor %}
            </fieldset>

        </div>
            </div>
            <input type="submit" value='{% trans "Speichern" %}' style="padding:0px;" data-corners="false" class="ui-btn ui-btn"/>

        </form>
    </div>
</div>


{% endblock %}


