{% extends 'm/m_base.html' %}

{% block title %}Smart-Heat-OS - Login{% endblock %}

{% block mheader %}
{% endblock %}

{% block mcontent %}
    <style>
    html { background-color: #eee; }
        @media only screen and (min-width: 600px){
            .ui-page {
                width: 600px !important;
                margin: 0px auto !important;
                position: relative !important;
                border-right: 1px #666 outset !important;
                border-left: 1px #666 outset !important;
            }
        }
    </style>

    <form id="recform" method="post" action="/accounts/resetpw/" data-ajax="false"> {% csrf_token %}
        <ul data-role="listview" id="reclv">
            <li>
                <label for='recmail'>Emailadresse</label>
                <input type='text' name='recmail' id="recmail"/>
            </li>
            <li>
                <label for='password'>Neues Passwort</label>
                <input type='password' name='password' id='password'/>
            </li>
            <li>
                <label for='pw2'>Passwort wiederholen</label>
                <input type='password' name='pw2' id='pw2'/>
            </li>
            <li>
                <label for='ver_code'>Verifikationscode (abgedruckt auf Geh&auml;use)</label>
                <input type='text' name='ver_code' id='ver_code'/>
            </li>
            <li>
                <input type='submit' value='Passwort neu setzen'/>
                <p/>
                {% if reseterror %}
                    {% autoescape off %}
                        <span style="color:#cb0963">{{ reseterror }}</span>
                    {% endautoescape %}
                {% endif %}
            </li>
        </ul>
        <br/>
        <br/>
        <a href='/accounts/m_login/'>Zur&uuml;ck</a>
    </form>
{% endblock %}

{% block footer %}
{% endblock %}