{% extends "m_base_new.html"%}
{% load i18n %}

{% block title %}{% trans "Smart-Heat-OS - Away-Timer" %}{% endblock %}
{% block bodyclass %}page timer{% endblock %}

{% block mheader %}
    <span><a href="http://support.controme.com/bedienung-module/modul-timer/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25"></a></span>
    <span><a href="/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}

<form action="/m_timer/{{haus.id}}/" method="post" data-ajax='false' id='zshform'>
    {% csrf_token %}
    <ul data-role="listview" data-divider-theme="a" data-split-icon="delete" data-split-theme='c'>
        <li data-role='list-divider'>{% trans "Away-Timer" %}</li>
        {% if delta %}
            {% autoescape off %}{{delta}}{% endautoescape %}
        {% endif %}

        <li class="p-static">
            <div class="temp_set">
                <h4>{% trans "Temperature-Offset" %}</h4>
                <span class="temp_offset">{{ default|default:"-1.00" }}</span>
                <span class="ui-btn-icon-notext ui-icon-shadow ui-icon-minus minus-tempOne ui-alt-icon">&nbsp;</span>
                <span class="ui-btn-icon-notext ui-icon-shadow ui-icon-plus plus-tempOne ui-alt-icon">&nbsp;</span>
                <input type="range" id="offset-slider" min="-5" max="5" value="{{ default|default:"-1.00" }}" step=".1" name="offset" data-mini="true" data-highlight="true" data-popup-enabled="true"/>
            </div>

        </li>
        <li>
            <label>{% trans "Zeit" %}</label>

            <label for="starttime">{% trans "Beginn" %}</label>
            <input type="datetime-local" data-clear-btn="true" name="starttime" id="starttime" value="{{starttime}}"/>
            <label for="endtime">{% trans "Ende" %}</label>
            <input type="datetime-local" data-clear-btn="true" name="endtime" id="endtime" value="{{endtime}}"/>

        </li>

        {% if error %}
            <li style="color:#cb0963">
                {% autoescape off %}{{error}}{% endautoescape %}
            </li>
        {% endif %}
        <li data-icon='false'>
            <a href="#" onclick="$('#zshform').get(0).submit();" style="text-align:center">{% trans "Away-Timer aktivieren" %}</a>
        </li>
    </ul>
</form>
<div data-role="popup" id="popupTemp" data-theme="a" class="ui-corner-all">
    <div id="popupTempContent">
    <label for="popupTempInput">{% trans "Solltemperatur:" %}</label>
    <input type="text" name="popupTempInput" id="popupTempInput" value="1.00"/>
    <a href="#" id="popupTempSave" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">{% trans "Speichern" %}</a>
    </div>
</div>
<script>

    $('#popupTempSave').click(function(){
        var val = $('#popupTempInput').val();
        $('#offset-slider').val(val);
        $('.temp_offset').html(val);
    });
</script>
{% endblock %}