{% extends "m_base_new.html"%}

{% block title %}Smart-Heat-OS - Differenzregelung{% endblock %}
{% block bodyclass %}page differenzregelung{% endblock %}
{% block mheader %}

{% endblock %}

{% block mcontent %}
    <style type="text/css">
        div.ui-btn {
            font-weight: normal;
        }
        .innerul li { width: 20em; }
        .ext-right {float:right;}
    </style>
    {% if logging %}
        <script language="javascript" type="text/javascript" src="/static/jquery.flot.js"></script>
        <script language="javascript" type="text/javascript" src="/static/jquery.flot.axislabels.js"></script>
        <script language="javascript" type="text/javascript" src="/static/jquery.flot.time.js"></script>
        <script type="text/javascript">

            var data = {};
            var labels = {};

            var options = {
                lines: { show: true,
                        lineWidth: 1
                },
                xaxis: { mode: "time",
                    timeformat: "%d.%m.<br/>%H:%M",
                    timezone: "browser"  {# nicht utc wie im normalen logging, weil hrgw timestamp lokalisiert sind #}
                },
                legend: {
                    noColumns: 2,
                    container: "#legendcontainer"
                },
                series: {
                    shadowSize: 0
                },
                colors: ["#cb0963", "#019bb0", "#f9b233", "#779a45"],
                grid: {
                    markings: []
                }
            };

            $(document).ready(function() {
                $("#von_{{ dregid }}").val("{{ von }}");
                $("#bis_{{ dregid }}").val("{{ bis }}");
                data[{{ dregid }}] = {};
                labels[{{ dregid }}] = {};
                getData("{{ dregid }}", "dreg_{{ dregid }}_s1");
                getData("{{ dregid }}", "dreg_{{ dregid }}_s2");
                getData("{{ dregid }}", "dreg_{{ dregid }}_s3");
                getData("{{ dregid }}", "dregout_{{ dregid }}");
                drawLog("{{ dregid }}");
            });

            function getData(dregid, objid) {
                var von = $("#von_"+dregid).val();
                var bis = $("#bis_"+dregid).val();
                $.ajax({
                    url: "/m_logger/{{ haus.id }}/?gl=" + jq(objid) + "&von=" + von + "&bis=" + bis,
                    dataType: "json",
                    success: function(result) {
                        if(objid.indexOf("dregout") > -1) {
                            data[dregid][objid] = result[1];
                            labels[dregid][objid] = "Ausgang";
                        } else {
                            data[dregid][objid] = result[1];
                            if(objid.indexOf("s1") > -1) {
                                labels[dregid][objid] = "S1";
                            } else if(objid.indexOf("s2") > -1) {
                                labels[dregid][objid] = "S2";
                            } else if(objid.indexOf("s3") > -1) {
                                labels[dregid][objid] = "S3";
                            } else {
                                labels[dregid][objid] = "?";
                            }
                        }
                    }
                }).complete(function() {
                    $("#spinner_"+dregid).hide();
                    drawLog(dregid);
                });
            }

            function drawLog(dregid) {
                options["legend"]["container"] = "#legendcontainer_" + dregid;

                var drawdata = [];
                var markings = [];
                $.each(data[dregid], function(k, v) {
                    if(k.startsWith("dregout_")) {
                        if(v.length) {
                            var prev_ts = v[0][0];
    {#                            var prev_out = v[0][1];#}
                            var color = "";
                            $.each(v, function(idx, mrkng) {
                                if(mrkng[1] >= 1) {
                                    color = "#e799b3"; // red
                                } else {
                                    color = "#ffffff"; // white
                                }
    {#                                if(prev_out != mrkng[1]) {#}
                                markings.push({xaxis: {from: prev_ts, to: mrkng[0]}, color: color});
                                prev_ts = mrkng[0];
    {#                                    prev_out = mrkng[1];#}
    {#                                }#}
                            });
                        }
                    } else {
                        drawdata.push({data: v, label: labels[dregid][k]});
                    }
                });
                options['grid']['markings'] = markings;
                $("#placeholder_"+dregid).css("height", "400px");
                $.plot($("#placeholder_"+dregid), drawdata, options);

                $("#spinnerbr_"+dregid).empty();
                $.each($("#legendcontainer_"+dregid+" table td"), function(i, td) {
                    if(i % 2 == 0) { // legendcolorbox
                        $("#spinnerbr_"+dregid).append("<div style='white-space: nowrap; display: inline-block'><span id='legend_" + dregid + "_" + i + "' style='height: 1em; width: 1em;'>&nbsp;&nbsp;&nbsp;</span></div>");
                        $("#legend_" + dregid + "_" + i).css("background", $(this).children(":first").children(":first").css("border-top-color"));
                    } else { // legendlabel
                        var label = $(this).html();
                        $("#legend_" + dregid + "_" + (i-1)).after("<span style='font-size:small; padding-right:1em'>&nbsp;" + label + "</span>");
                    }
                });
            }

            function update(dregid) {
                $.each(data[dregid], function(objid, _data) {
                    getData(dregid, objid);
                });
            }

            function jq(myid) {
                return myid.replace(/[*]/g, "\\$&")
            }
        </script>
    {% endif %}
    <ul data-role="listview" data-divider-theme="c" id="mrlv" style="margin-top: -8px">
        <li data-role='list-divider'>
            <div class="diff-header">
                 <div class="diff-icon">
                     <a href="http://support.controme.com/differenzregelung-und-solaranlage/" target="_blank">
                        <div class="bulb"><img src="/static/icons/bulb-icon-grey.png" width="25"/></div>
                     </a>
                 </div>
                 <div class="beam" {% if beam %}style="background-color:#b71e52;"{% endif %}></div>
{#                 </div>#}
                <div class="diff-name bold overflow-text overflow-ellipsis"><span style="color: #f9b233;">DR:</span> {{ config.name }}</div>
                 <div class="diff-link"><a href="/m_setup/{{ haus.id }}/differenzregelung/edit/{{ objid }}/" target="_blank"><img src="/static/icons/settings-icon-grey.png" width="25"/></a></div>
            </div>

        </li>
        {% if error %}
        <li style="color: #cb0963;">{{ error }}</li>
        {% else %}
        <li>
            <div class="result"><span id="result-value">{{ result }}</span></div>
            <div class="result" id="result-text">{{ result_text }}</div>
        </li>
        {% if s1%}
        <li>
            <div class="s-row">
                <div class="left">
                    {% if config.icon %}<img class="s-icon" src="/static/heating-icons/icon_{{config.icon}}.png"/>{% endif %}<span class="overflow-text overflow-ellipsis">S1 {{s1.sensor.description}}</span>
                    <div class="visual-bar">
                        <span class="slider-range-min">0</span>
                        <div class="slider-place">
                            <div role="application" class="ui-slider-track  ui-corner-all" >
                                <div class="ui-slider-bg ui-btn-active" style="width: {{s1.converted}}%;">
                                </div>
                                {% if vbar_min_s1 %}<span id="vbar_min_s1" class="bracket-left" role="slider" aria-valuemin="0" aria-valuemax="120"  style="left: {{vbar_min_s1}}%;"></span>{% endif %}
                                {% if vbar_max_s1 %}<span id="vbar_max_s1" class="bracket-right" role="slider" aria-valuemin="0" aria-valuemax="120"  style="left: {{vbar_max_s1}}%;"></span>{% endif %}
                                {% if vbar_diff_s2 %}<span id="vbar_diff_s2"  class="diff" role="slider" aria-valuemin="0" aria-valuemax="120" aria-valuenow="50" aria-valuetext="50" aria-labelledby="undefined-label"  style="left: {{s1.converted}}%; width: {{config.diff_s2}}%; margin-left: -{{config.diff_s2}}.5%;"></span>{% endif %}
                            </div>
                        </div>
                        <span class="slider-range-max">120</span>
                    </div>
                </div>
                <div class="right">
                    <div class="inner-left ">Ist</div> <div class="inner-right  underline">&nbsp;{{s1.val|floatformat:2}}</div>
                    <div class="inner-left italic">Min</div> <div class="inner-right italic">&nbsp;{{config.min_s1|floatformat:2}}</div>
                    <div class="inner-left italic">Max</div> <div class="inner-right italic">&nbsp;{{config.max_s1|floatformat:2}}</div>
                    <div class="inner-left italic">Diff</div> <div class="inner-right italic">&nbsp;{{config.diff_s2|floatformat:2}}</div>
                </div>
            </div>
        </li>
        {% endif %}
        <li>
            <div class="s-row">
                <div class="left">
                    {% if config.icon %}<img class="s-icon" src="/static/heating-icons/icon_{{config.icon}}.png"/>{% endif %}<span class="overflow-text overflow-ellipsis">S2{% if s2 %} - {{s2.sensor.description}}{% endif %}</span>
                    <div class="m-icon"><span class="ui-btn-icon-notext ui-icon-shadow ui-icon-{{max_icon.0}} module-icon">&nbsp;</span></div>
                    <div class="visual-bar">
                        <span class="slider-range-min">0</span>
                        <div class="slider-place">
                            <div role="application" class="ui-slider-track   ui-corner-all ui-mini" style="height:8px;">
                                <div class="ui-slider-bg ui-btn-active" style="width: {{s2.converted}}%;">
                                </div>
                                <span id="vbar_soll_s2"  class="soll" role="slider" aria-valuemin="0" aria-valuemax="120"  style="left: {{vbar_max_s2}}%;"></span>
                                 {% if config.hysteresis > 4%}<span id="vbar_ziel_s2"  class="ziel" role="slider" aria-valuemin="0" aria-valuemax="120"  style="{% if vbar_ziel_s2 >= 100 %}right:0;{% else %}  left: {{vbar_ziel_s2}}%;{% endif %} width: {{ config.hysteresis }}%;margin-left: -{{ziel_center}}%"></span>{% endif %}
                                <span id="vbar_ziel_s2_center"  class="ziel-center" role="slider" aria-valuemin="0" aria-valuemax="120"  style="{% if vbar_ziel_s2 > 0 %}left: {{vbar_ziel_s2}}%;{%else%}left: 0%{% endif %}"></span>

                                {% if offset < 0.1 and offset < 0%} <div class="arrow-bar-left"  style="left:{{vbar_ziel_s2}}%;width:{{offset_converted}}%"></div><div class="arrow-left" style="left:{{vbar_ziel_s2}}%;"></div> {% endif %}
                                {% if offset > 0.1 and offset > 0%} <div class="arrow-bar-right"  style="left:{{vbar_max_s2}}%;width:{{offset_converted}}%"></div><div class="arrow-right" style="left:{{vbar_ziel_s2}}%;"></div> {% endif %}
                            </div>
                        </div>
                        <span class="slider-range-max">120</span>
                    </div>
                </div>
                <div class="right">
                    <div class="inner-left bold">Ist</div> <div class="inner-right bold underline">&nbsp;{{s2.val|floatformat:2}}</div>
                    <div class="inner-left soll bold italic"> Soll</div> <div class="inner-right soll soll-val bold italic">&nbsp;{{config.max_s2|floatformat:2}}</div>
                    <div class="inner-left italic {% if offset < 0 %}offset-blue {% else %} offset-red {% endif %}">Offset</div> <div class="inner-right italic offset-val {% if offset < 0 %}offset-blue {% else %} offset-red {% endif %}">
                        {{offset|floatformat:2}}
                    </div>
                    <div class="inner-left bold italic">Ziel</div> <div class="inner-right bold italic ziel-val">{{ziel_s2|floatformat:2}}</div>
                </div>
            </div>
        </li>
        {% if s3 %}
        <li>
            <div class="s-row">
                <div class="left">
                    {% if config.icon %}<img class="s-icon" src="/static/heating-icons/icon_{{config.icon}}.png" height="40" width="40"/>{% endif %}<span class="overflow-text overflow-ellipsis">S3 {{s3.sensor.description}}</span>
                    <div class="visual-bar">
                        <span class="slider-range-min">0</span>
                        <div class="slider-place">
                            <div role="application" class="ui-slider-track  ui-corner-all ui-mini">
                                <div class="ui-slider-bg ui-btn-active" style="width: {{s3.converted}}%;">
                                </div>
                                {% if vbar_max_s3 %}<span id="vbar_max_s3" class="bracket-right" role="slider" aria-valuemin="0" aria-valuemax="120"  style="left: {{vbar_max_s3}}%;"></span>{% endif %}
                            </div>
                        </div>
                        <span class="slider-range-max">120</span>
                    </div>
                </div>
                <div class="right">
                    <div class="inner-left ">Ist</div> <div class="inner-right  underline">{{s3.val|floatformat:2}}</div>
                    <div class="inner-left italic">Max</div> <div class="inner-right italic">{{config.max_s3|floatformat:2}}</div>
                </div>
            </div>
        </li>
        {% endif %}
        {% if config.show_slider %}
        {% csrf_token %}
        <li>
            <div class="row-slider">
                <span class="ui-btn-icon-notext ui-icon-shadow ui-icon-minus minus-tempOne ui-alt-icon">&nbsp;</span>
                <span class="ui-btn-icon-notext ui-icon-shadow ui-icon-plus plus-tempOne ui-alt-icon">&nbsp;</span>
                <input type="range" id="slider_s2" min="{{config.min_slider_val}}" max="{{config.max_slider_val}}" value="{{config.max_s2}}" step="1"  data-mini="true" data-highlight="true" data-popup-enabled="true"/>
            </div>
        </li>
        {% endif %}
    </ul>
    {% if logging %}
        <br/>
        <ul data-role="listview" data-divider-theme="c" id="mrlv" style="margin-top: -8px">
            <li data-role="list-divider" id='spinnerbrli_{{ dregid }}'>Logging</li>
            <li id="diag">
                <div style="height: 400px" id="placeholder_{{ dregid }}"></div>
            </li>
            <li id='spinner_{{ dregid }}'><div style="text-align: center; height: 16px"><img src='/static/images/ajax-loader.gif'/></div></li>
            <li id='spinnerbrli'><div id="spinnerbr_{{ dregid }}" style="white-space: normal; overflow: auto"></div></li>

            <div style="display: none" id="legendcontainer_{{ dregid }}"></div>

            <li style="padding: 0">
                <div data-role="collapsible" class="ui-alt-icon" data-collapsed-icon="arrow-u" data-expanded-icon="arrow-d" data-iconpos="right" data-inset="false" id="zrcol" style="margin: 0">
                    <h5 style="margin: -1 10 -1 10px">Zeitraum</h5>
                    <input type="datetime-local" data-clear-btn="false" name="von_{{ dregid }}" id="von_{{ dregid }}" value="" data-mini="true" style="margin: 0;"/>
                    <input type="datetime-local" data-clear-btn="false" name="bis_{{ dregid }}" id="bis_{{ dregid }}" value="" data-mini="true" style="margin: 0;"/>
                    <a href="#" onclick='update("{{ dregid }}");' data-role="button" data-mini="true">Anzeigen</a>
                </div>
            </li>
            {% endif %}
        </ul>
    {% endif %}

    <br/>

    <div data-role='collapsible' class="ui-alt-icon" data-collapsed-icon="arrow-u" data-expanded-icon="arrow-d" data-iconpos="right" data-inset="false" id='cmods' style="margin: {% if logging %}41px 0 -9px;{% else %}0px;{% endif %}" data-collapsed="false">
        <h5 style="margin: 0px;">Module <span class="ui-li-aside offset" style="margin-top:0px;  float: right;margin-right: 27px;padding-right: 6px;font-size:14px;"><span class="{% if offset < 0 %} offset-blue {% else %}
        {% if offset > 0 %} offset-red {% endif%}  {% endif %}">{{ offset|floatformat:2 }}</span></span></h5>
        <ul data-role="listview" data-id="{{raumid}}" style="margin: 0px">
                {% for ileft, icon, iright, ir_width, ilink in mods %}
                    <li {% if iright == 0 %} class="gray-text" {% endif%}>
                    {% if ilink %}
                        <a href="{{ ilink }}" style="max-height: 20px; padding: 10px 0; font-size: 14px;">
                    {% endif %}

                    {% autoescape off %}
                        <span class="ui-btn-icon-notext ui-icon-shadow ui-icon-{{icon|slugify }} module-icon">&nbsp;</span>{{ ileft| title }}
                    {% endautoescape %}

                    {% if iright %}
                        <span class="ui-li-aside module-temp offset {% if iright < 0 %} offset-blue {% else %}
        {% if iright > 0 %} offset-red {% endif %} {% if iright == 0 %} offset-grey {% endif %} {% endif %}" style="width:{{ ir_width }}px;">
                                {{ iright|floatformat:2 }}
                        </span>
                     {% else %}
                           <span class="ui-li-aside module-temp offset offset-grey " style="width:{{ ir_width }}px;">
                                0.00
                        </span>
                    {% endif %}

                    {% if ilink %}
                        </a>
                    {% endif %}
                    </li>

                {% endfor %}
        </ul>
    </div>
    {% if objid %}
         <input type="hidden" name="dreg" id="dregid" value="{{objid}}"/>
         <input type="hidden" name="hausid" id="hausid" value="{{haus.id}}"/>
    {% endif %}
{% endblock %}
