{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Amazon Alexa{% endblock %}

{% block mheader %}
        <a href="/config" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="https://support.controme.com/amazon-alexa-integration/#Aktivierungsschluessel_anfordern" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block bodycls %}amazon-alexao{%endblock%}

{% block mcontent %}

<script type="text/javascript">

</script>
<style type="text/css">
    .green-font{
        padding-left: 15px;
        color: #67a540;
    }

    .red-font{
    padding-left: 15px;
        color: #cb0963;

    }

    .blue-font{
        color: #559ab2 !important;
    }

    .title{
        font-weight: bold;
    }
    .new-req .ui-icon.ui-icon-arrow-r.ui-icon-shadow{
        display: none;
    }
</style>

<ul data-role="listview" data-divider-theme="a">
    <li><span class="title">Amazon Alexa</span></li>
    <li>
        {% if is_active %}
            <span class="green-font">Amazon Alexa ist erfolgreich aktiviert.</span>
        {% else %}
            <span class="red-font">
                Zur Aktivierung bitte Aktivierungsschlüssel <a href="https://support.controme.com/amazon-alexa-integration/#Aktivierungsschluessel_anfordern">anfordern</a>
            </span>
        {% endif %}
    </li>
</ul>

{% endblock %}
