{% extends "m_base_new.html"%}

{% block title %}Smart-Heat-OS - Vorlauftemperaturregelung{% endblock %}
{% block bodyclass %}page differenzregelung vorlauftemperaturregelung{% endblock %}
{% block mheader %}

{% endblock %}

{% block mcontent %}
    <style type="text/css">
        div.ui-btn {
            font-weight: normal;
        }
        .innerul li { width: 20em; }
        .ext-right {float:right;}
    </style>

    {% if logging %}
        <script language="javascript" type="text/javascript" src="/static/jquery.flot.js"></script>
        <script language="javascript" type="text/javascript" src="/static/jquery.flot.axislabels.js"></script>
        <script language="javascript" type="text/javascript" src="/static/jquery.flot.time.js"></script>
        <script type="text/javascript">

            var data = {};
            var labels = {};

            var options = {
                lines: { show: true,
                        lineWidth: 1
                },
                xaxis: { mode: "time",
                    timeformat: "%d.%m.<br/>%H:%M",
                    timezone: "browser"  {# nicht utc wie im normalen logging, weil hrgw timestamp lokalisiert sind #}
                },
                legend: {
                    noColumns: 2,
                    container: "#legendcontainer"
                },
                colors: ["#cb0963", "#019bb0", "#f9b233", "#779a45"],
                series: {
                    shadowSize: 0
                }
            };

            $(document).ready(function() {
                $("#von_{{ objid }}").val("{{ von }}");
                $("#bis_{{ objid }}").val("{{ bis }}");
                data[{{ objid }}] = {};
                labels[{{ objid }}] = {};
                getData("{{ objid }}", "mischer_{{ objid }}_inflow_hot");
                getData("{{ objid }}", "mischer_{{ objid }}_inflow_cold");
                getData("{{ objid }}", "mischer_{{ objid }}_outflow");
                getData("{{ objid }}", "mischerout_{{ objid }}");
                drawLog("{{ objid }}");
            });

            function getData(mid, objid) {
                var von = $("#von_"+mid).val();
                var bis = $("#bis_"+mid).val();
                $.ajax({
                    url: "/m_logger/{{ haus.id }}/?gl=" + jq(objid) + "&von=" + von + "&bis=" + bis,
                    dataType: "json",
                    success: function(result) {
                        if(objid.indexOf("mischerout") > -1) {
                            data[mid][objid] = result[1];
                            labels[mid][objid] = "Vorlauf Ziel";
                        } else {
                            data[mid][objid] = result[1];
                            if(objid.indexOf("inflow_cold") > -1) {
                                labels[mid][objid] = "Sensor Rücklauf";
                            } else if(objid.indexOf("inflow_hot") > -1) {
                                labels[mid][objid] = "Sensor Warm";
                            } else if(objid.indexOf("outflow") > -1) {
                                labels[mid][objid] = "Sensor Vorlauf";
                            } else {
                                labels[mid][objid] = "?";
                            }
                        }
                    }
                }).complete(function() {
                    $("#spinner_"+mid).hide();
                    drawLog(mid);
                });
            }

            function drawLog(mid) {
                options["legend"]["container"] = "#legendcontainer_" + mid;

                var drawdata = [];
                $.each(data[mid], function(k, v) {
                    drawdata.push({data: v, label: labels[mid][k]})
                });
                $("#placeholder_"+mid).css("height", "400px");
                $.plot($("#placeholder_"+mid), drawdata, options);

                $("#spinnerbr_"+mid).empty();
                $.each($("#legendcontainer_"+mid+" table td"), function(i, td) {
                    if(i % 2 == 0) { // legendcolorbox
                        $("#spinnerbr_"+mid).append("<div style='white-space: nowrap; display: inline-block'><span id='legend_" + mid + "_" + i + "' style='height: 1em; width: 1em;'>&nbsp;&nbsp;&nbsp;</span></div>");
                        $("#legend_" + mid + "_" + i).css("background", $(this).children(":first").children(":first").css("border-top-color"));
                    } else { // legendlabel
                        var label = $(this).html();
                        $("#legend_" + mid + "_" + (i-1)).after("<span style='font-size:small; padding-right:1em'>&nbsp;" + label + "</span>");
                    }
                });
            }

            function update(mid) {
                $.each(data[mid], function(objid, _data) {
                    getData(mid, objid);
                });
                drawLog(mid); {# koennte sein, dass das in dem complete besser aufgehoben ist. dito der aufruf in document.ready() #}
            }

            function jq(myid) {
                return myid.replace(/[*]/g, "\\$&")
            }
        </script>
    {% endif %}

    <ul data-role="listview" data-divider-theme="c" id="mrlv" style="margin-top: -8px">
        <li data-role='list-divider'>
            <div class="diff-header">
                 <div class="diff-icon"><a href="http://support.controme.com/vorlauftemperatur-mischer/" target="_blank">
                     <div class="bulb"><img src="/static/icons/bulb-icon-grey.png" width="25"></a></div>
                 </div>
                 <div class="diff-name bold overflow-text overflow-ellipsis"><span style="color: #e61873;">VTR:</span> {{ config.name }}</div>
                 <div class="diff-link"><i><a  href="/m_setup/{{haus.id}}/vorlauftemperaturregelung/edit/{{objid}}" target="_blank"><img src="/static/icons/settings-icon-grey.png" width="25"></a></i></div>
            </div>
        </li>

        <li>
            <div class="s-row">
                <div class="left">
                    {% if config.icon %}<img class="s-icon" src="/static/heating-icons/icon_{{config.icon}}.png" >{%endif%}<span class="overflow-text overflow-ellipsis">{{config.name}}</span>
                    <div class="m-icon"><span class="ui-btn-icon-notext ui-icon-shadow ui-icon-{{max_icon.0}} module-icon">&nbsp;</span></div>
                    <div class="visualbar_slider">
                        <div class="visual-bar">
                        <span class="slider-range-min">0</span>
                          <div class="slider-place">
                            <div role="application" class="ui-slider-track   ui-corner-all ui-mini" style="height:7px;">
                              <div class="ui-slider-bg ui-btn-active" style="width: {{visual_temp}}%;"></div>
                              {% if not hidden_soll %}<span id="vbar_soll_s2"  class="soll" role="slider" aria-valuemin="0" aria-valuemax="100"  style="left: {{soll_converted}}%;"></span>{% endif %}
                              {% if not hidden_ziel %}<span id="vbar_ziel_s2" class="ziel-center" role="slider" aria-valuemin="0" aria-valuemax="100"  style="left: {{ziel_converted}}%"></span>{% endif %}
                                {% if not overflow %}
                                    {%  if offset <= -0.1 and ziel < 0 %} <!-- ok -->
                                        <div class="arrow-bar-left" style="left:{{ziel_converted}}%;width:{{soll_converted}}%"></div><div class ="arrow-left" style="left:{{ziel_converted}}%;"></div>
                                    {% endif %}
                                    {% if offset <= -0.1 and ziel > 0 %}
                                        <div class="arrow-bar-left" style="left:{{ziel_converted}}%;width:{{offset_converted}}%"></div><div class ="arrow-left" style="left:{{ziel_converted}}%;"></div>
                                    {% endif %}
                                    {% if offset >= 0.1 and ziel < 100 %} <!-- ok -->
                                        <div class="arrow-bar-right" style="left:{{soll_converted}}%;width:{{offset_converted}}%"></div><div class ="arrow-right" style="left:{{ziel_converted}}%;"></div>
                                    {% endif %}
                                    {%  if offset >= 0.1 and ziel > 100 %}
                                        <div class="arrow-bar-right" style="left:{{soll_converted}}%;width:{{delta}}%"></div><div class ="arrow-right" style="left:{{ziel_converted}}%;"></div>
                                    {% endif %}
                                {% endif %}
                            </div>
                          </div>
                        <span class="slider-range-max">100</span>
                </div>
              </div>

                </div>
                <div class="right">
                    <div class="inner-left bold">Ist</div> <div class="inner-right bold underline">{% if state.outflow%}{{state.outflow|floatformat:2}}{%else%}&nbsp;{%endif%}</div>
                    <div class="inner-left soll bold italic"> Soll</div> <div class="inner-right soll soll-val bold italic">{{ soll|floatformat:2 }}</div>
                    <div class="inner-left italic {% if offset < 0 %}offset-blue {% else %} offset-red {% endif %}">Offset</div> <div class="inner-right italic offset-val  {% if offset < 0 %}offset-blue {% else %} offset-red {% endif %}">
                        {{offset|floatformat:2}}
                    </div>
                    <div class="inner-left bold italic">Ziel</div> <div class="inner-right bold italic ziel-val">{{ ziel|floatformat:2}}</div>
                    <div class="inner-left">Pos</div> <div class="inner-right">{% if state.position != None %}{{ state.position|floatformat:2 }}%{% else %}-{% endif %}</div>
                </div>
            </div>
        </li>
        {% if config.vtrtype == '2' or config.vtrtype == '3' %}
        <li>
            <div class="s-row">
                <div class="left">
                        Rücklauf
                    <div class="visualbar_slider">
                        <div class="visualbar_slider">
                        <div class="visual-bar">
                        <span class="slider-range-min">0</span>
                          <div class="slider-place">
                            <div role="application" class="ui-slider-track   ui-corner-all ui-mini" style="height:7px;">
                              <div class="ui-slider-bg ui-btn-active" style="width: {{inflow_cold_converted}}%;"></div>

                            </div>
                          </div>
                        <span class="slider-range-max">100</span>
                </div>
              </div>
              </div>
                </div>
                <div class="right">
                    <div class="inner-left">Ist</div> <div class="inner-right underline">{% if state.inflow_cold %}{{ state.inflow_cold|floatformat:2 }}{% else %}&nbsp;{% endif %}</div>
                </div>
            </div>
        </li>
        {% endif %}
        {% if config.vtrtype == '2' or config.vtrtype == "3" %}
        <li>
            <div class="s-row">
                <div class="left">
                        Eingang
                    <div class="visualbar_slider">
                        <div class="visual-bar">
                        <span class="slider-range-min">0</span>
                          <div class="slider-place">
                            <div role="application" class="ui-slider-track   ui-corner-all ui-mini" style="height:7px;">
                              <div class="ui-slider-bg ui-btn-active" style="width: {{inflow_hot_converted}}%;"></div>

                            </div>
                          </div>
                        <span class="slider-range-max">100</span>
                </div>
              </div>
                </div>
                <div class="right">
                    <div class="inner-left">Ist</div> <div class="inner-right underline">{% if state.inflow_hot %}{{ state.inflow_hot|floatformat:2 }}{% else %}&nbsp;{% endif %}</div>
                </div>
            </div>
        </li>
       {% endif %}
        <li>
            <div class="s-row">
                <div class="left">
                        Außentemperatur
                    <div class="visualbar_slider">
                        <div class="visual-bar">
                        <span class="slider-range-min">0</span>
                          <div class="slider-place">
                            <div role="application" class="ui-slider-track   ui-corner-all ui-mini" style="height:7px;">
                              <div class="ui-slider-bg ui-btn-active" style="width: {{atsvalue_converted}}%;"></div>

                            </div>
                          </div>
                        <span class="slider-range-max">100</span>
                </div>
              </div>
                </div>
                <div class="right">
                    <div class="inner-left">Ist</div> <div class="inner-right underline">{% if state.atsvalue != None %}{{ state.atsvalue|floatformat:2 }}{% else %}&nbsp;{% endif %}</div>
                </div>
            </div>
        </li>
        <li>
            <div class="s-row">
                <div class="left">
                        Ventilposition in %
                    <div class="visualbar_slider">
                        <div class="visual-bar">
                        <span class="slider-range-min">0</span>
                          <div class="slider-place">
                            <div role="application" class="ui-slider-track   ui-corner-all ui-mini" style="height:7px;">
                              <div class="ui-slider-bg ui-btn-active" style="width: {{position_converted}}%;"></div>
                              {% if position_converted == 0 or position_converted == 100 %}<span id="vbar_soll_s2"  class="gray_ziel" role="slider" aria-valuemin="0" aria-valuemax="100"  style="left: {{position_converted}}%;"></span>{% endif %}

                            </div>
                          </div>
                        <span class="slider-range-max">100</span>
                </div>
              </div>
                </div>
                <div class="right">
                    <div class="inner-left">Ist</div> <div class="inner-right">{% if state.position != None %}{{ state.position|floatformat:2 }}%{% else %}-{% endif %}</div>
                </div>
            </div>
        </li>
        <li>
            <div class="s-row">
                <div class="left-time" style="width: 50% !important;">
                        Fehler
                </div>
                <div class="right-time" style="{% if state.error %}color: #cb0963;{% endif %} width: auto !important;">{% if state.error %}{{ state.msg }}{% else %}nein{% endif %}</div>
            </div>
        </li>
        <li>
            <div class="s-row">
                <div class="left-time">
                        Letzte Aktualisierung
                </div>
                <div class="right-time">
                    {% if state.last_update %}{{ state.last_update }}{% else %}-{% endif %}
                </div>
            </div>
        </li>
    </ul>

    <br/>

    {% if logging %}
        <ul data-role="listview" data-divider-theme="c" id="mrlv" style="margin-top: -8px">
            <li data-role="list-divider" id='spinnerbrli_{{ objid }}'>Logging</li>
            <li id="diag">
                <div style="height: 400px" id="placeholder_{{ objid }}"></div>
            </li>
            <li id='spinner_{{ objid }}'><div style="text-align: center; height: 16px"><img src='/static/images/ajax-loader.gif'/></div></li>
            <li id='spinnerbrli'><div id="spinnerbr_{{ objid }}" style="white-space: normal; overflow: auto"></div></li>

            <div style="display: none" id="legendcontainer_{{ objid }}"></div>

            <li style="padding: 0">
                <div data-role="collapsible" class="ui-alt-icon" data-collapsed-icon="arrow-u" data-expanded-icon="arrow-d" data-iconpos="right" data-inset="false" id="zrcol" style="margin: 0">
                    <h5 style="margin: -1 10 -1 10px">Zeitraum</h5>
                    <input type="datetime-local" data-clear-btn="false" name="von" id="von_{{ objid }}" value="" data-mini="true" style="margin: 0;"/>
                    <input type="datetime-local" data-clear-btn="false" name="bis" id="bis_{{ objid }}" value="" data-mini="true" style="margin: 0"/>
                    <a href="#" onclick='update("{{ objid }}");' data-role="button" data-mini="true">Anzeigen</a>
                </div>
            </li>
        </ul>
        <br/>
    {% endif %}

    <div data-role='collapsible' class="ui-alt-icon" data-collapsed-icon="arrow-u" data-expanded-icon="arrow-d" data-iconpos="right" data-inset="false" id='cmods' style="margin: {% if logging %}41px 0 -9px;{% else %}0px;{% endif %}" data-collapsed="false">
        <h5 style="margin: 0px;">Module <span class="ui-li-aside offset" style="margin-top:0px;  float: right;margin-right: 27px;padding-right: 6px;font-size:14px;"><span class="{% if offset < 0 %} offset-blue {% else %}
        {% if offset > 0 %} offset-red {% endif%}  {% endif %}">{{ offset|floatformat:2 }}</span></span></h5>
        <ul data-role="listview" data-id="{{raumid}}" style="margin: 0px">
                {% for ileft, icon, iright, ir_width, ilink in mods %}
                    <li {% if iright == 0 %} class="gray-text" {% endif%}>
                    {% if ilink %}
                        <a href="{{ ilink }}{% ifequal ileft  "Vorlauftemperaturkorrektur" %}#three{% endifequal %}" style="max-height: 20px; padding: 10px 0; font-size: 14px;">
                    {% endif %}

                    {% autoescape off %}
                        <span class="ui-btn-icon-notext ui-icon-shadow ui-icon-{{icon|slugify }} module-icon">&nbsp;</span>{{ ileft }}
                    {% endautoescape %}

                    {% if iright %}
                        <span class="ui-li-aside module-temp offset {% if iright < 0 %} offset-blue {% else %}
        {% if iright > 0 %} offset-red {% endif%} {% if iright == 0 %} offset-grey {% endif %} {% endif %}" style="width:{{ ir_width }}px;">
                                {{ iright|floatformat:2 }}
                        {% else %}
                           <span class="ui-li-aside module-temp offset offset-grey " style="width:{{ ir_width }}px;">
                                0.00
                        </span>
                        </span>
                    {% endif %}

                    {% if ilink %}
                        </a>
                    {% endif %}
                    </li>

                {% endfor %}

        </ul>

    </div>
{% endblock %}
