{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Präsenzregelung - Hilfe{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{haus.id}}/praesenzregelung/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
{% endblock %}

{% block mcontent %}

    <h2>Präsenzregelung</h2>

    <h3>Funktionsweise</h3>

        <p>
            Die controme Präsenzregelung senkt die Solltemperatur für einen Raum ab, wenn sich niemand in diesem
            Raum aufhält. Die Präsenzregelung kann nur für Räume aktiviert werden, in denen sich ein oder mehrere
            unserer Mehrfachsensoren mit Bewegungsmelder befinden. Obwohl Mehrfachsensoren von sich aus nur in dem in der
            Funkeinrichtung eingestellten Intervall aufwachen, registrieren sie Bewegungen sofort. Die Werte der
            Mehrfachsensoren werden dann vom Miniserver immmer im jeweils insgesamt kürzesten Aufwachintervall (d.h.
            dem Übertragungsintervall) an den Server übertragen.
        </p>

        <p>
            Bei Ankunft neuer Werte vom Miniserver wird geprüft, ob gerade eine Absenkung aktiv ist oder nicht. Bei
            aktiver Absenkung und registrierter Bewegung wird diese für dreißig Minuten aufgehoben. Bei aktiver
            Absenkung und keiner registrierten Bewegung, bleibt die Absenkung bis zur nächsten Übertragung erhalten.
        </p>

    <h3>Konfigurationsmöglichkeiten</h3>

        <p>
            Die Präsenzregelung hat einen Parameter. Änderungen an diesem Parameter greifen erst zur jeweils nächsten
            Neuberechnung der Absenkung.
        </p>

        <p>
            Die <b>Absenkung in °C</b> gibt an, um wieviel die Solltemperatur des Raumes verringert werden soll, wenn
            kein Mehrfachsensor im Raum eine Bewegung registriert. Sobald eine Bewegung registriert wird, wird in den
            folgenden dreißig Minuten auch bei keiner weiteren Bewegung nicht abgesenkt.
        </p>

{% endblock %}
