{% extends "m_base_new.html"%}

{% block title %}Smart-Heat-OS - Temperatur&uuml;berwachung{% endblock %}
{% block bodyclass %}page home no-input-slider{% endblock %}

{% block mheader %}

{% endblock %}

{% block mcontent %}

{% if haus %}
{% csrf_token %}
    <div class="content">
        <div class="ui-nodisc-icon ui-alt-icon ui-collapsible ui-collapsible-inset ui-corner-all home_rome_list">
            <h3 class="ui-collapsible-heading">
                {% if en_ruecklaufregelung %}
                    <div class="warningDiv"><b>Achtung:</b> Bitte deaktivieren Sie das Modul “Rücklaufregelung”. Es wurde durch das Modul “Heizflächenoptimierung” ersetzt. Sie können die Umstellung <a href="/m_setup/{{haus.id}}/module/" target="_blank" onclick="window.open(this.href);">hier</a> vornehmen.</div>
                {%endif%}
                <a class="ui-collapsible-heading-toggle ui-btn ui-fullsize ui-btn-up-a" style="height:28px;cursor: initial;">
                    <span class="ui-btn-icon-notext ui-icon ui-icon-shadow open-sub-collapsible ui-icon-arrow-d">&nbsp;</span>

                    {% if tempmode %}
                    <span class="ui-btn-tex mode-selection mode-select">
                        <center>
                            <select data-id="{{raum.id}}" id="mode-select"  data-shadow="false">
                              <option value="0"} selected>----</option>
                              {% for id,name in tempmodes%}
                               <option value="{{id}}">{{name}}</option>
                              {% endfor %}
                            </select>
                        </center>
                    </span>
                    {%endif%}
                    <span  onclick="window.open('http://support.controme.com/bedienung/#Interface_Multi-Zone_QUICK_manueller_Modus_fuer_temporaere_Temperaturaenderungen');" style="float: right;margin-top: 5px;position: absolute;right: 15px;top: 5px;"><img src="/static/icons/bulb-icon-grey.png" width="20" height="20" ></span>
                </a>
            </h3>
            {% for e in eundr %}
                {% for etage, raeume in e.items %}
                <div class="floor-header">{{etage.name}}</div>
                <div class="ui-collapsible-content">
                {% for raum in raeume %}
                    <ul data-role="none" data-id="{{ raum.id }}" class="room_list">
                        <li class=" ui-li ui-li-static roomli">

                        </li>
                        <li class="customli ui-li ui-li-static sub-collapsible">
                            <span class="ui-btn-icon-notext ui-icon-shadow ui-icon-minus minus-tempOne">&nbsp;</span>
                            <span class="ui-btn-icon-notext ui-icon-shadow ui-icon-plus plus-tempOne">&nbsp;</span>
                        </li>
                    </ul>
                {% endfor %}
                </div>
               {% endfor %}
            {% endfor %}
        </div>
    </div>

{% else %}

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_wXF9KHdrJsBIVAf4P5FFrNGRCAMUiZs&sensor=false"></script>
    <script type="text/javascript">
        $("#addressform").submit(function(e) {
            var self = this;
            e.preventDefault();
            codeAddress();
            return false;
        });
        function codeAddress() {
            try {
                var geocoder = new google.maps.Geocoder();
                var address = $("#str").val() + ' ' + $("#nr").val() + ' ' + $("#plz").val() + ' ' + $("#ort").val();
                geocoder.geocode({'address': address}, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        $("#lat").val(results[0].geometry.location.lat());
                        $("#lng").val(results[0].geometry.location.lng());
                        $("#addressform").get(0).submit();
                    } else if (status == google.maps.GeocoderStatus.ZERO_RESULTS) {
                        $("#lierror").html('Unbekannte Adresse.');
                        $("#lierror").show();
                    } else {
                        $("#lierror").html('Fehler. Bitte probieren Sie es sp&auml;ter wieder. Administratoren wurden verst&auml;ndigt.');
                        $("#lierror").show();
                    }
                });
            } catch(ReferenceError) {
                $("#addressform").get(0).submit();
            }
        }
    </script>
    <form action='/' method="post" data-ajax='false' id='addressform'>{% csrf_token %}
        <input type="hidden" name="lat" id="lat"/>
        <input type="hidden" name="lng" id="lng"/>
        <ul data-role="listview" data-divider-theme='a'>
            <li data-role="list-divider">Registrierung abschliessen</li>
            <li>
                <label for='vorname'>Vorname</label>
                <input type='text' id='vorname' name='vorname' value="{{vn}}"/>
            </li>
            <li>
                <label for='nachname'>Nachname</label>
                <input type='text' id='nachname' name='nachname' value="{{nn}}"/>
            <li data-role="list-divider">Haus anlegen</li>
            <li>
                <label for='str'>Strasse</label>
                <input type='text' id='str' name='str' value="{{s}}"/>
            </li>
            <li>
                <label for='nr'>Hausnummer</label>
                <input type='number' id='nr' name='nr' value="{{n}}"/>
            </li>
            <li>
                <label for='plz'>Postleitzahl</label>
                <input type='number' id='plz' name='plz' value="{{p}}"/>
            </li>
            <li>
                <label for='ort'>Ort</label>
                <input type='text' id='ort' name='ort' value="{{o}}"/>
            </li>
            <li style="color:#cb0963; display:none;" id='lierror'></li>
            <li>
                <a href="#" data-role="button" onclick="codeAddress();">Speichern</a>
            </li>
        </ul>
    </form>
{% endif %}

<!--<div class="footer">-->

    <!--<span class="heizprogramm-en-dis {% if en_hiezprogramm == 0%} disable {% else %} enable {% endif %}"></span>-->
    <!--<span><input type="submit" data-hausid="{{haus.id}}" class="en-dis {% if en_hiezprogramm == 0%} disable {% else %} enable {% endif %}" value='Heizprogramm {% if en_hiezprogramm == 0%} AUS {% else %} EIN {% endif %}' data-enable="" style="padding:0px;" data-corners="false" id="en-heizprogramm"  name="submit"></span>-->
<!--</div>-->

    <div data-role="popup" id="popupTemp" data-theme="a" class="ui-corner-all">
        <div id="popupTempContent">
        <span class="popupTempIcon"><img src=""> </span><span class="popupTempName"></span>
        <label for="popupTempInput">Solltemperatur:</label>
        <input type="text" name="popupTempInput" id="popupTempInput"  value="">
        <a href="#" id="popupTempSave" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Speichern</a>
        </div>
    </div>

    <div data-role="popup" id="popupTime" data-theme="a" class="ui-corner-all">
            <div class="popupTimeContent">
                <div class="align-center">
                    <div class="popup_room_icon"><img alt="icon" width="25" height="25"/></div>
                                    <div class="popup_raum_name"></div>
                    <input type="hidden" id="popup_room_id">
                </div>
                <div class="align-center">
                    Manueller Zielwert bis <span class="showtime">{{time}}</span>
                </div>
                <div class="align-center">
                    <input type="number" data-type="range" name="time" id="time" value="0" min="0" max="720" step="5" data-mini="true" data-highlight="true" data-popup-enabled="true" class="ui-input-text ui-body-a ui-corner-all ui-shadow-inset ui-mini ui-slider-input">
                </div>
                <div class="align-center time_row">
                    <div class="slider_left">0h</div>
                    <div class="slider_center">6h</div>
                    <div class="slider_right">12h</div>
                </div>
                <div class="align-center">
                    <a href="#" id="popupTimeSave" class="ui-btn">Manuellen Zielwert in diesem Raum löschen</a>
                </div>
            </div>
    </div>
{% endblock %}

