{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Betriebsarten{% endblock %}

{% block mheader %}
        <a href="/config" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="https://support.controme.com/betriebsarten-heizen-und-kuehlen/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block bodycls %}main-config-page betriebsarten{%endblock%}

{% block mcontent %}


<form method="post" action="/m_setup/{{haus.id}}/betriebsarten/" data-ajax="false" id='wform'> {% csrf_token %}
<ul data-role="listview" id="wlist">
    <li data-role="list-divider">
        Betriebsarten
    </li>
    <li>
        <label style="margin:0px;border:0;" data-corners="false">
            <input type="checkbox" {%if active %}checked{%endif%}
                   name="right_menu" id="right-menu-ch" value='1'/>
                   Link zur Konfigurationsseite im rechten Menü anzeigen
        </label>

    </li>

    <li data-icon='false' style="padding:0px">
        <a href=" /m_betriebsarten/{{ haus.id }}/" target="_blank" style="text-align:center">öffne Benutzeroberfläche</a>
    </li>
    <li data-role="list-divider">
        Angelegte Betriebsart-Umschaltungen
    </li>
    <li data-icon='false' >
        <a style="text-align:center" href="/m_setup/{{ haus.id }}/betriebsarten/calculation/">manuell neu berechnen</a>
    </li>
    {% for id, params in b_items %}
        <li class="betrieb-row">
            <a href="/m_setup/{{ haus.id }}/betriebsarten/edit/{{ id }}/"  class="">{{ params.name }}<br/>
                <small {% if params.result == 'Aktiv' %} style="color: #cb0963;" {% endif %} >{{ params.result }}</small></a>
        </li>
    {% endfor %}
</ul>
</form>
{% endblock %}

{% block footer %}
    <div data-role='navbar' data-position="fixed" data-tap-toggle="false">
        <ul>
            <li>
                <a href=' /m_setup/{{ haus.id }}/betriebsarten/edit/' data-icon='gear'>anlegen</a>
            </li>
        </ul>
    </div>
{% endblock %}