{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Hochtarifoptimierung - Hilfe{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{haus.id}}/hochtarifoptimierung/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
{% endblock %}

{% block mcontent %}

    <h2>Hochtarifoptimierung</h2>

    <h3>Funktionsweise</h3>

        <p>
            Die Hochtarifoptimierung sperrt abhängig von den von der Wettervorhersage erwarteten Temperaturen im
            Tagesverlauf die Nutzung von Hochtarifstrom zum Betrieb Ihrer Wärmepumpe. Die Sperrung erfolgt indirekt,
            indem diejenigen Räume, in denen die Hochtarifoptimierung aktiviert ist, nicht mehr beheizt werden. Dies
            geschieht über einen Offset auf die Zieltemperatur des Raumes, so dass der Raum wieder beheizt wird, sobald
            die Ist-Temperatur die Zieltemperatur unterschreitet. In Verbindung mit der Raumanforderung lässt sich die
            Wärmepumpe komplett abschalten.
        </p>

        <p>
            Die Verwendung dieser Funktion wird nur bei den Wärmequellen Erdwärme und Wasser empfohlen.
        </p>

    <h3>Hausweite Konfigurationsmöglichkeiten</h3>

        <p>
            Die einzige hausweite Einstellung betrifft die vom Stromversorger festgelegten <b>Zeiträume</b>b> von Hoch-
            und Niedertarifstrom. Diese sind üblicherweise einheitlich für die Werktage und verkürzt an Samstagen.
        </p>

        <p>
            Für spontane Abwesenheiten oder andere, außerordentliche Gelegenheiten lässt sich eine <b>Generelle
            Hochtarifsperre setzen</b>. Diese greift auf alle Räume über und kann auch unter Tags noch gesetzt werden.
            Eine <b>Generelle Hochtarifsperre entfernen</b> kann man durch Klick auf den so benannten Button. Wenn
            zuvor keine Generelle Hochtarifsperre gesetzt wurde, so entfernt dieser dennoch alle von der Regelung
            automatisch gesetzten Hochtarifsperren in den jeweiligen Räumen.
        </p>

    <h3>Raumspezifische Konfigurationsmöglichkeiten</h3>

        <p>
            Die raumspezifischen Einstellungen lassen sich auf der hausweiten Konfigurationsseite über den Haken
            <b>Parameter hausweit setzen</b> in allen Räumen setzen. Etwaige raumspezifische Einstellungen gehen
            hierbei verloren.
        </p>

        <p>
            Für die Hochtarifsperre lässt sich eine <b>temperaturabhängige Aktivierungsschwelle festlegen</b>. Diese
            Schwelle wird durch einen absoluten Temperaturwert definiert. Erst wenn dieser Wert im Tagesverlauf
            laut Wettervorhersage überschritten wird, greift die Hochtarifsperre. Damit bleibt an kühlen und kalten
            Tagen die Heizung an.
        </p>

        <p>
            Die Außentemperatur verändert sich im Tagesverlauf und ist gerade im Frühjahr und Herbst relativ starken
            Schwankungen zu den Tag/Nacht Wechseln unterworfen. Je nach dem, wie gut Ihr Haus isoliert ist, haben
            hohe und niedrige Außentemperaturen unterschiedlichen Einfluß auf Ihren Komfort. Diesen Einfluß können
            Sie mit der <b>Berechnungsgrundlage für die Tagestemperatur</b> selbst einstellen. Wenn Ihr Haus eher zu
            kühl als zu warm ist, wählen Sie als Berechnungsgrundlage eher die Tagestiefsttemperaturen. Im
            entgegengesetzten Fall eher die Tageshöchsttemperaturen.
        </p>

        <p>
            Um zu verhindern, dass Räume bei aktivierter Hochtarifsperre zu stark auskühlen, können Sie einen
            <b>maximal erlaubten Temperaturabfall</b> einstellen. Verliert ein Raum aufgrund aktiver Hochtarifsperre
            im Vergleich zur eingestellten Solltemperatur mehr als den maximal erlaubten Temperaturabfall erlaubt,
            wird die Hochtarifsperre automatisch deaktiviert.
        </p>

        <p>
            Schließlich können Sie die <b>Hochtarifoptimierung in allen Räumen aktivieren</b>. Per Standardeinstellung
            ist die Hochtarifoptimierung in keinem Raum aktiviert.
        </p>

{% endblock %}
