{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Jahreskalender{% endblock %}

{% block mheader %}
        <a href="/config" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/auswahl-und-aktivierung-von-modulen/modul-jahreskalender/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block bodycls %}main-config-page jahreskalender{%endblock%}

{% block mcontent %}

<form method="post" action="/m_setup/{{haus.id}}/jahreskalender/" data-ajax="false"> {% csrf_token %}
<ul data-role="listview" id="wlist">
    <li data-role="list-divider">
        Kalender
    </li>
    <li>
        <label style="margin:0px;border:0;" data-corners="false">
            <input type="checkbox" {%if r_m_active %}checked{%endif%}
                   name="right_menu" id="right-menu-ch" value='1'/>
                   Link zur Konfigurationsseite im rechten Menü anzeigen
        </label>
      
    </li>

    <li data-icon='false' style="padding:0px">
        <a href=" /m_jahreskalender/{{ haus.id }}/" target="_blank" style="text-align:center">öffne Benutzeroberfläche</a>
    </li>

</ul>
</form>
{% endblock %}

{% block footer %}

{% endblock %}