{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Ofsset{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{ haus.id }}/offsets/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
    {% if entity_id %}
        <a href="/m_setup/{{haus.id}}/offsets/delete/{{entity_id}}/" data-role="button" data-icon="false" data-mini="true" data-inline="true" class="ui-btn-right" style="color:#cb0963;">löschen</a>
    {% endif %}
{% endblock %}

{% block mcontent %}
<style type="text/css">
    .row-slider input.ui-slider-input {
            display : none !important;
    }

    .row-slider{
        margin-top: 10px;
    }
    .row-slider .ui-slider.ui-mini{
        width: 90%;
    }

    .row-slider .ui-slider-track .ui-btn-active{
        background: #9ec552 !important;
    }

    .row-slider .ui-field-contain.ui-body ui-br{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .desc-text{
        color: #8C8B8A;
        text-shadow: none;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 20px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function() {
        $(document).on( "change", ".offset-slider",function(){
            let obj = $(this).data('obj');
            $('#offset-' + obj + "-" +$(this).data('id')).text($(this).val());
        });


    });
    let test_form = function(){
        console.log($('#fps-abfrage option:selected').val())
        if ($('#fps-abfrage option:selected').val() == '-1'){
            return
        }
        if($('#name').val() == ''){
            return
        }

        $('#offset-form').get(0).submit();
    }
    test_form();
</script>

<form method="post" action="/m_setup/{{haus.id}}/offsets/edit/{{ entity_id }}/" data-ajax="false" id='offset-form'> {% csrf_token %}
    <ul data-role="listview" data-divider-theme="a">
        <li data-role="list-divider">Offset-Modul</li>
        <li>
            <div data-role="fieldcontain">
                <label for="name" style="vertical-align: middle;">Name</label>
                <input type="text" name="name" id="name" value="{{ offset_param.name }}" required/>
            </div>
        </li>
        <li class="">
            <div data-role="fieldcontain">
                <label for="fps-abfrage" style="margin-top: .5em;">FPS-Abfrage</label>
                <select name="fps_abfrage" data-mini="true" id="fps-abfrage">
                    <option value="-1" >FPS auswählen</option>
                    {% for id, name in fpss %}
                        <option value="{{ id }}" {% if id == offset_param.selected_fps %} selected {% endif %}>{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="desc-text">
                Die nachfolgend eingestellten Korrekturen werden gesetzt, sobald die FPS-Abfrage TRUE ist.
                Dies wird alle 10 Minuten kontrolliert.
            </div>
        </li>
        {% for e in eundr %}
            {% for etage, raeume in e.items %}
                {% for raum in raeume %}
                    <li>
                    <div data-role="fieldcontain">
                        <div>{{etage.name}} / {{ raum.0.name }}: <span id="offset-raum-{{ raum.0.id }}">{{ raum.1 }}</span></div>
                            <div class="row-slider">
                                <input type="range" value="{{ raum.1 }}" class="offset-slider" data-obj="raum"
                                       step="0.1" min="-10" max="10" name="raum_{{ raum.0.id  }}" data-id="{{ raum.0.id }}" data-mini="true"  data-popup-enabled="true" data-highlight="true"/>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% endfor %}
        {% endfor %}

        {% for dr in drs %}
        <li>
            <div data-role="fieldcontain">
                <div>Differenzregelung {{ dr.name }}: <span id="offset-dr-{{ dr.regid }}">{{ dr.val }}</span></div>
                <div class="row-slider">
                    <input type="range" value="{{ dr.val }}" class="offset-slider" data-obj="dr"
                           step="0.1" min="-10" max="10" name="dr_{{ dr.regid }}" data-mini="true" data-id="{{ dr.regid }}" data-popup-enabled="true" data-highlight="true"/>
                </div>
            </div>
        </li>
        {% endfor %}

        {% for vtr in vtrs %}
            <li>
            <div data-role="fieldcontain">
                <div>Vorlauftemperaturregelung {{ vtr.name }}: <span id="offset-vtr-{{ vtr.regid }}">{{ vtr.val }}</span></div>
                <div class="row-slider">
                    <input type="range" value="{{ vtr.val }}" class="offset-slider" data-obj="vtr"
                           step="0.1" min="-10" max="10" name="vtr_{{ vtr.regid }}" data-mini="true" data-id="{{ vtr.regid }}" data-popup-enabled="true" data-highlight="true"/>
                </div>
                </div>
            </li>
        {% endfor %}

         <li data-icon='false'>
            <a href="#" onclick="test_form()" style="text-align:center">Speichern</a>
        </li>
    </ul>
</form>

{% endblock %}
