{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Gateway Monitor{% endblock %}

{% block mheader %}
        <a href="/config" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="https://support.controme.com/gateway-monitor/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block bodycls %}Gateway Monitor{%endblock%}

{% block mcontent %}

<ul data-role="listview" data-divider-theme="a" id="gwmlist">
    <li data-role="list-divider" id="dregs">Angelegte Gateway Monitore</li>
    {% if gwmreg|length %}
    {% for id, params in gwmreg %}
    <li>
        <a href="/m_setup/{{ haus.id }}/gatewaymonitor/edit/{{ id }}/">Gatewaymonitor {{ id }}{% if params %}: {{ params.name }}{% endif %}</a>
    </li>
    {% endfor %}
    {% else %}
    <li>-</li>
    {% endif %}
</ul>
{% endblock %}
{% block footer %}
    <div data-role='navbar' data-position="fixed" data-tap-toggle="false">
        <ul>
            <li>
                <a href='/m_setup/{{haus.id}}/gatewaymonitor/edit/' data-icon='gear'>Gateway Monitor anlegen</a>
            </li>
        </ul>
    </div>
{% endblock %}